#Ignoring Gradle Folders & Files
.gradle/
gradle/
build/
classes/
META-INF/
run/

settings.gradle
gradlew
gradlew.bat
!src/main/resources/META-INF
.github

#Ignoring IntelliJ Folders
.idea/
out/

#Ignoring MacOS files
.DS_Store

